<script type='text/javascript' src='__PUBLIC__/Jquery/jquery-1.7.2.js'></script>
<div class="pageContent">
    <form method="post" action="__SELF__">  

        <div class="pageFormContent" layoutH="60">


            <dl>
                <dt>分类名称:</dt>
                <dd><input type="text" class="required"  style="width:100%" name="cat_name"/></dd>
                
                <dd>  
                    
                  <select name='pid'>
                    <option value="0">上级分类</option>
                    <?php foreach($category_list as $k=>$v):?>
                    <option value="<?php echo $v['id'];?>"><?php echo str_repeat('&nbsp;',($v['level'])*5).$v['cat_name'];?></option>
                    <?php endforeach;?>
                </select>

                </dd>
                
                <dt>价格区间</dt>
                <dd><input type="text" class="required"  style="width:100%" name="section_price"/></dd>
                
                <dt>分类关键字</dt>
                <dd><input type='text' name='keyword' style="width:100%"/></dd>
                  <dt>分类描述</dt>
                  <dd><textarea cols="50" rows="5" name='desc'></textarea></dd>
                  
                  <dt>分类属性</dt>
                 
                          <dd>  
                              <input type="button" value="+"/>
                              <select onchange="getAttr(this)">  
                       
                           <option>选择类型</option>
                           <?php foreach($type_list as $k=>$v):?>
                           <option value="<?php echo $v['id'];?>"><?php echo $v['type_name'];?></option>
                               <?php endforeach;?>  
                      </select>
                         
                    <select  name="attr_id[]">  
                     
                            
                                  
                      </select>
                          </dd>
            </dl>
         
            
           
        </div>

        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><input type="submit" value='保存'></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>
<script type='text/javascript'>
    //根据type_id 传来不同ID
    function getAttr(select){
        var type_id=$(select).val();
        var next_select=$(select).next('select');
        
        $.ajax({
            type:'get',
            url:'__CONTROLLER__/ajaxGetAttr/type_id/'+type_id,
            dataType:'json',
            success:function(data){
                 var html='<option value="">请选择属性</option>';
                $(data).each(function(k,v){
                    
               
                       
                      html+='<option value="'+v.id+'">'+v.attr_name+'</option>';
                    
                });
                
                next_select.html(html);
            
            }
            
        });
        
    }
    
    
   $(':button').click(function(){
       var btn=$(this).val();
    
        var dd=$(this).parent();
       if(btn=='+'){
         
           var dl=$(this).parent().parent();
           var new_dd=dd.clone(true);
           new_dd.find(':button').val('-');
           new_dd.find('select').eq(1).html('');
           dl.append(new_dd);
        
           
       }else{
         
           dd.remove();
       }
   });
</script>
