
<div class="pageContent">
    <form method="post" action="__SELF__">  
        <input type='hidden' name='id' value="<?php echo I('get.id');?>"/>
        <div class="pageFormContent" layoutH="60">


            <dl>
                <dt>分类名称:</dt>
                <dd><input type="text" class="required"  style="width:100%" name="cat_name" value="<?php echo $category_info['cat_name'];?>"/></dd>
                
                <dd>  
                    
                  <select name='pid'>
                    <option value="0">上级分类</option>
                    <?php foreach($category_list as $k=>$v):
                      if($v['id']==$category_info['pid'])
                      $selected="selected='selected'";
                      else
                      $selected='';
                    if(in_array($v['id'],$cat_ids))
                    continue;
                        
                     
                    
                     
                    ?>
                    <option <?php echo $selected; ?> value="<?php echo $v['id'];?>"><?php echo str_repeat('&nbsp;',($v['level'])*5).$v['cat_name'];?></option>
                    <?php endforeach;?>
                </select>

                </dd>
            </dl>
         
            
           
        </div>

        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>

