<script type="text/javascript" src="__PUBLIC__/Jquery/jquery-1.7.2.js"></script>
<div class="pageContent">
    <form method="post" action="__SELF__">  
        <input type='hidden' name='gid' value="<?php echo I('get.gid');?>"/>
        


        <div class="pageFormContent" layoutH="60">
            <table width='100%'>
            
            <tr>
                <?php foreach($attrData as $k=>$v):?>
                <td><?php echo $v[0]['attr_name'];?></td>
                  <?php endforeach;?>
                   <td>库存</td>
                   <td>操作</td>
            </tr>
 
            <?php if($gn_info):?>
                    <?php  foreach($gn_info as $k2=>$v2):
                    $gaid=  explode(',',$v2['goods_attr_id']);
                    
                      ?>
            <tr>
            
                      <?php foreach($attrData as $k=>$v): ?> 
             
                <td id="gn">
                    <select name="goods_attr_id[<?php echo $k;?>][] ">
                    
                   <?php foreach($v as $kk=>$vv):
                     echo $vv['id'];
                      if(in_array($vv['id'],$gaid))
                      $selected='selected="selected"';
                      else
                      $selected='';
                   ?>
                    
                    
                   <option <?php echo $selected; ?> value="<?php echo $vv['id']?>"><?php echo $vv['attr_value'];?></option>
                    <?php endforeach;?>
                    </select>
            
                </td>
                
              <?php endforeach;?>

                <td><input type='text' name='goods_number[]'  value="<?php echo $v2['goods_number'];?>"/></td>
            
                <td><a href="#" gnid="<?php echo $v0['id'];?>" onclick="addgn(this)"><?php echo  $k2==0?'[+]':'[-]' ;?></a></td>
              
            </tr>
           <?php endforeach;?>
         <?php endif;?>
         
          <?php if(!$gn_info):?>
                 <tr>
            
                      <?php foreach($attrData as $k=>$v): ?> 
             
                <td id="gn">
                    <select name="goods_attr_id[<?php echo $k;?>][] ">
                    
                   <?php foreach($v as $kk=>$vv):  ?>
               
                 
                    
                    
                   <option <?php echo $selected; ?> value="<?php echo $vv['id']?>"><?php echo $vv['attr_value'];?></option>
                    <?php endforeach;?>
                    </select>
            
                </td>
                
              <?php endforeach;?>

                <td><input type='text' name='goods_number[]'  value=""/></td>
            
                <td><a href="#" gnid="<?php echo $v0['id'];?>" onclick="addgn(this)"><?php echo  '[+]';?></a></td>
              
            </tr>
          <?php endif;?>
         
       
            
           
        </div>
        </table>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>
</div>

<script type='text/javascript'>
    function addgn(a){
        
        var aval=$(a).html();
        
        var tr=$(a).parent().parent()
                if(aval=='[+]'){
                        var new_tr=tr.clone();
                        new_tr.find('a').html('[-]');
                        tr.after(new_tr);
                        
                    
                    
                }else{
                
                    var gnid=$(a).attr('gnid');
                  
                    $.ajax({
                        type:'get',
                        url:'__CONTROLLER__/ajaxDelGn/gnid/'+gnid,
                        success:function(data){
                            alert(data);
                        },
                    });
                    tr.remove();
                    
                    
                }
    }
</script>

