<//商品新添加界面>
<div class="pageContent">
	<form method="post" action="__SELF__"   enctype="multipart/form-data">
		
		<div class="pageFormContent" layoutH="60">
			
			<!--<dl>
				<dt>商品编号:</dt>
				<dd><input type="text" class="required digits"  minlength="11" maxlength="11" style="width:100%" name="goods_no"/></dd>
			</dl>-->
			
			
			
			<dl>
				<dt>商品名称:</dt>
				<dd><input type="text" class="required"  style="width:100%" name="goods_name"/></dd>
			</dl>
			
			<dl class="nowrap">
			<dt>商品关键字：</dt>
			<dd><textarea name="goods_keywords" cols="80" rows="2"></textarea></dd>
		    </dl>
			
			
			
			<p>
				<label>商品状态：</label>
				<select name="goods_status" class="required combox">
				    <option value="无" >无</option>
					<option value="新品" selected>新品</option>
					<option value="热卖" >热卖</option>
					
					<option value="首发" >首发</option>
					<option value="人气" >人气</option>
			        <option value="商品已下架" >商品已下架</option>
				   
				</select>
			</p>
			<dl>
				<dt>商品原价:</dt>
				<dd><input type="text" class="required number"  style="width:100%" name="goods_shop_price"/></dd>
			</dl>
			<dl>
				<dt>商品促销价:</dt>
				<dd><input type="text" class="number"  style="width:100%" name="goods_sale_price"/></dd>
			</dl>
			<dl class="nowrap">
			<dt>商品优惠描述：</dt>
			<dd><textarea name="goods_desc" cols="80" rows="2"></textarea></dd>
		    </dl>
			
			
			<dl>
				<dt>商品数量:</dt>
				<dd><input type="text" class="required digits"  style="width:100%" name="goods_num"/></dd>
			</dl>
			<dl>
				<dt>商品重量:</dt>
				<dd><input type="text" class="required "  style="width:100%" name="goods_weight"/></dd>
			</dl>
			<p>
				<label>商品大图：</label>
				<input name="goods_big_pic" type="file" />
			</p>
			
			<p>
			<label>商品分类：</label>
		   <select class="combox required" name="goods_cat_id"  >
		       <option value="">---商品分类选择---</option>
			 
                                                                        <?php foreach($category_list as $k=>$v):?>
                                                                        <option value="<?php echo $v['id']; ?>"><?php echo str_repeat('-',($v['level'])*2).$v['cat_name']; ?></option>
                                                                             <?php endforeach;?>       
			
			   
	      </select>
          </p>
		  <div class="divider"></div>
		   
			<label>商品属性选择：</label><br/><br/>
			   <p>
		   
			    <?php foreach($attr_value as $k=>$v):?>
			    <dl>
				 <dt><?php echo $k; ?>:</dt>
				 <dd><select class="combox required" name="goods_attr_value[]"  ref="w_combox" >
				
					<?php foreach($v as $kk=>$vv):?>
					 <option value="<?php echo $vv['id']; ?>"><?php echo $vv['attr_value'];?></option>
                                                                                                              
                                                                                                                <?php endforeach;?>
				 
				   
			  
			   </select></dd>
                                                               </dl>
			     <?php endforeach;?>

			  </p>
         
		  
		  </div>
		  
		<div class="formBar">
			<ul>
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
			</ul>
		</div>
	</form>
</div>

